* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial, sans-serif;
    font-size: 100%;
    margin: 3em;
    background: #820e12;
    color: #fff;
}
#carouselExampleIndicators {
    height: 350px;
    width: 300px;
}
.carousel-inner img {
    margin: auto;
    max-height: 300px;
    max-width: 300px;
}
#back-to-top {
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 2%;
    text-decoration-color: currentcolor;
    text-decoration-line: none;
    text-decoration-style: solid;
    font-size: 0.75em;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    display: inline;
    color: #969696;
}
h2,
p {
    font-size: 100%;
    font-weight: normal;
}
div#postit {
    padding: 0;
    margin: 0;
    margin-top: 50px;
}
div.postit div.postit-content {
    text-decoration: none;
    color: darkslategray;
    background: #ffc;
    display: block;
    height: 10em;
    width: 10em;
    padding: .5em;
    -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
    -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
    -moz-transition: -moz-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    -webkit-transition: -webkit-transform .15s linear;
    line-height: 140%;
}
div.postit {
    margin: 1em;
    float: left;
    height: 200px;
    width: 200px;
}
div.postit h2 {
    font-size: 140%;
    font-weight: bold;
    padding-bottom: 10px;
}
div.postit div.postit-content {
    font-family: "Reenie Beanie", arial, sans-serif;
    font-size: 180%;
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;

    -webkit-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
}
div.postit:nth-child(even) div.postit-content {
    -o-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    position: relative;
    top: 5px;
    background: #cfc;
}
div.postit:nth-child(3n) div.postit-content {
    -o-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    position: relative;
    top: -5px;
    background: #ccf;
}
div.postit:nth-child(5n) div.postit-content {
    -o-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    position: relative;
    top: -10px;
}
div.postit:nth-child(7n) div.postit-content {
    -o-transform: rotate(-8deg);
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    position: relative;
    top: -5px;
    background: #fcf;
}
div.postit div.postit-content:hover,
div.postit div.postit-content:focus {
    text-decoration: none;
    color: black;
    box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    position: relative;
    z-index: 5;
    font-size: 120%;
    overflow-y: scroll;
    padding: 5px;
}
ol {
    text-align: center;
}
ol li {
    display: inline;
    padding-right: 1em;
}
ol li a {
    color: #fff;
}

.question {
    border-width: 3px;
    margin: 10px;
    font-size: 20;
}
